<%= form_for(@team) do |f| %>

  <div class="body">
    <fieldset>

      <div class="control-group no-margin">
        <div class="field">
          <%= f.label :name %>
        </div>
        <div class="control">
          <div class="input-prepend input-padding-increased">
            <span class="add-on">
              <i class="eicon-user icon-large"></i>
            </span>
          <%= f.text_field :name %>
          </div>
        </div>
      </div><br>

      <div class="control-group no-margin">
        <div class="field">
          <%= f.label :description %>
        </div>
        <div class="control">
          <div class="input-prepend input-padding-increased">
          <%= f.text_area :description %>
          </div>
        </div>
      </div><br>
      
      <div class="control-group no-margin">
        <div class="field">
          <%= f.label :avatar, "Upload your Team's Profile Picture" %>
          <%= f.file_field :avatar %>
        </div>
      </div>

      <div class="control-group no-margin">
        <div class="field">
          <%= f.label :remote_avatar_url, "Or a picture's URL:" %>
        </div>
        <div class="control">
          <div class="input-prepend input-padding-increased">
            <span class="add-on">
              <i class="eicon-user icon-large"></i>
            </span>
          <%= f.text_field :remote_avatar_url %>
          </div>
        </div>
      </div>

     <div class="form-actions">
        <div class="span4 offset4">
          <%= f.submit "Submit!", :class => "btn btn-block btn-success" %>
        </div>
      </div>

    </fieldset>
  </div>
<% end %>