<section class="widget">
  <div class="icon">
    <%= image_tag team.avatar_url(:banner), :class => "img-circle" %>
  </div>
  <h4><%= link_to team.name, team_path(team) %></h4>

  <address>
    Description: <%= team.description %><br>
    Created by: <%= User.find(team.owner_id).name %><br>

    Members:
    <div class="roster">
      <% if team.users != [] %>
        <div class="person">

        </div>
      <% end %>
    </div>
  </address>
  <%= button_to "Join!", team_join_path(team.id), :class => "btn btn-success span6 offset3" %>
</section>