<h1> Add a new team </h1>

<%= form_for([@commentable, @team]) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>
  <br/>
  <div class="field">
    <p> Add a member here:</p>
    <p> #to be created -send email to friends? auto add?</p>
  </div>
  <!-- currently usless but we may need -->
  <div class="field">
    <p>Team Type: </p>
    <%= f.label :type_public, "Public" %>
    <%= f.radio_button :name, nil %>  
    <%= f.label :type_private, "Private" %>
    <%= radio_button_tag :name, nil  %>
  </div>
  <br/>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>

