<h1> Add a new team </h1>

<%= form_for([@commentable, @team]) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
  <div class="field">
    <p> Add a member here:</p>
    <p> #to be created </p>
  </div>
<% end %>

