<h1><%= @team.name %></h1>
<p>
  <%= @team.description %>
</p>

<h3>Members</h3>
<p>TODO: need to be created</p>

<div id="teamwall">
	<h1>Wall: </h1>
	<%= render "/comments/new" %>
	<%= render "/comments/each" %>
</div>
<%= paginate @comments %>