<div class="content">
  <div class="row-fluid">

    <div class="span4">
      <section class="widget">
        <div class="body">
          <div class="row-fluid">
            <div class="span4">
              <div class="text-align-center">
                <!-- <img class="img-circle" src="http://placehold.it/112x112" alt="64x64" style="height: 112px; width:112px"> -->
                <%= image_tag @team.avatar_url(:team), :class => "img-circle" %>
                <p style="font-style:italic"><%= @team.description %></p>
              </div>
            </div>
            <div class="span6">
              <div class="row-fluid">
                <h3 class="no-margin span12">
                  <%= @team.name %>
                </h3>
              </div>
              <h4 class="no-margin">Points: <%= @team.team_total_points %> </h4><br>
              <address>
                Created by: <%= User.find(@team.owner_id).name %><br>
                Creation date: <%= @team.created_at.to_s(:just_date) %>
              </address>
              <% if current_user.id != @team.owner_id && @team.users.where(id: current_user.id) == [] %>
                <%= button_to "Join Team!", team_join_path(@team.id), :class => "btn btn-success span12" %>
                <!-- Commented out this until challenging teams works -->
                <!-- <%= button_to "Challenge Team!", :class => "btn btn-success span12" %> -->
              <% end %>
            </div>
            <div class="span2">
              <% if current_user.id == @team.owner_id || @team.users.where(id: current_user.id) != [] %>
                <%= button_to "Edit", edit_team_path(@team.id), :class => "btn btn-warning", :method => :get %>
              <% end %>
            </div>
          </div>

        </div>
      </section>

      <section class="widget">
        <header>
          <legend><h4>
            Team Leaderboard
          </h4></legend>
        </header>
        <div class="body">
          <table class="table table-condensed ">
            <thead>
              <tr>
                <th>Name</th>
                <th id="team-leaderboard">Activity Logs</th>
                <th id="team-leaderboard">Total Points</th>
              </tr>
            </thead>
            <tbody>
              <%= render "members" %>
            </tbody>
          </table>
        </div>
      </section>
    </div>

    <div class="span4">
      <section class="widget chat companywall">
        <header>
          <legend><h4>
              Wall 
          </h4></legend>
        </header>
        <div class="body">
          <div id="chat" class="chat">
            <div class="row-fluid non-responsive">
              <% if current_user.id == @team.owner_id || @team.users.where(id: current_user.id) != [] %>
                <%= render "/comments/new" %>
              <% end %>
            </div>
            <br>
          </div>
          <br>
          <div id="chat-messages" class="chat-messages">
            <div class="pre-scrollable">
              <%= render "/comments/each" %>
              <%= paginate @comments %>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="span4">
      <section class="widget">
        <header>
          <legend><h4>
            Leaderboard
          </h4></legend>
        </header>
        <div class="body" id="leaderboard-for-all-teams">
          <div class="pre-scrollable">
            <%= render 'team_leaderboard' %>
          </div>
        </div>
      </section>
    </div>

  </div>
</div>

