<h1><%= @team.name %></h1>

<div class="challenge">
  <% if @team.users.where(id: current_user.id) == [] %>
    <%= link_to "CHALLENGE", '#'  %>
  <% end %>
</div>
<p>

<div id="team-description">
  Description: <%= @team.description %>
</div>
<br/>
<div id="team-user">
  Created by: <%=User.find(@team.owner_id).name %>
</div>
</p>
<br/>

<div class="span4">
  <section class="widget">
  <header>
  <legend><h4>
      Members
  </h4></legend>
  </header>

  <section class="widget">
  <div id="member">
    <%= render "members" %>
  </div>
  </section>
  <div id="join-team"><%= button_to "Join!", team_join_path(@team.id), remote: :true %></div>  
</div>
</section>


<div class="span4">
  <section class="widget chat companywall">
  <header>
  <legend><h4>
      Wall 
  </h4></legend>
  </header>
  <div class="body">
    <div id="chat" class="chat">
      <div class="row-fluid non-responsive">
        <%= render "/comments/new" %>
      </div>
      <br>
    </div>
    <br>
    <div id="chat-messages" class="chat-messages">
      <%= render "/comments/each" %>
      <%= paginate @comments %>
    </div>
  </div>
</div>

<div class="span4">
<section class="widget">
<legend><h4>
    Challenges
</h4></legend>
  <%= render "/challenges/each_challenge" %>
  </section>
</div>



<div class="uploadertest">
  <%= image_tag @team.avatar_url(:team), :class => "img-circle" %>
</div>

</section>

