<h1><%= @team.name %></h1>
<p>

<div id="team-description">
  Description: <%= @team.description %>
</div>
<br/>
<div id="team-user">
  Created by: <%=User.find(@team.owner_id).name %>
</div>
</p>
<br/>
<div class="roster">
  <h3>Members</h3>
  <ul>
    <div id="member">
      <%= render "new_member" %>
    </div>
  </ul>
  <div id="join-team"><%= button_to "Join!", team_join_path(@team.id), method: :post %></div>  
</div>
</div>
<div id="chat-messages">
<div id="teamwall">
  <h1>Wall: </h1>
  <%= render "/comments/new" %>
  <%= render "/comments/each" %>
</div>
</div>
<%= paginate @comments %>
