<div class="span12">
  <section class="widget">
    <div class="row-fluid">
      <div class="span2">
        <div id="useravatar">
          <% if @user.avatar_url == nil %>
              <% @user.avatar = File.open("///Users/iancantor/Bitmaker/ThinkFit.Me/app/assets/images/default-avi.png") %>
          <% end %>
          <%= image_tag @user.avatar_url(:banner), :class => "img-circle" %>
        </div>
      </div>
      <div class="span6">
        <h2><%= @user.name %></h2>
        <h4>Points: <%= @user.total_points %></h4>
      </div>
      <div class="span4">
        <% if current_user.friendships.find_by(friend_id: @user.id) %>
          <%#= button_to 'You are following ' + @user.name, '#', :class => "btn btn-transparent span12", :disabled => "disabled" %>
        <% else %>
          <%= button_to 'Follow ' + @user.name, friendships_path(friend_id: @user.id), :class => "btn btn-large btn-success span6 offset3" %>
        <% end %>

        <% if current_user.challenges.where(defendable_id: @user.id) == [] %>
          <%= button_to "Challenge #{@user.name}",  user_challenges_path(@user.id), :class => "btn btn-large btn-success span6 offset3" %>
        <% end %>
      </div>
    </div>


  </section>
</div>
