<% @user.goals.order('created_at DESC')[0..2].each do |goal| %>
  <% if goal.status == "active" %>
  <section class="widget">
    <div class="row-fluid">
      <div class="span4">
          <img src="http://placehold.it/64x64" alt="64x64" style="height: 100px; width:100px;" data-placement="top" id="tooltip-enabled" data-original-title="" class="img-circle">
        </div>
      <div class="span8">
        <div class="span10">
          <h4 class="no-margin"><%= goal.name_of_activity_through_goal %> (<%= goal.total_points_per_goal %>)</h4>
        </div>
        <% if @user.id == current_user.id %>
          <div class="span2">
            <%= button_to "+", new_user_goal_activity_log_path(current_user, goal), :class => "btn btn-success pull-top", :method => :get %>
            <%= button_to "-", edit_user_goal_path(current_user, goal), :class => "btn btn-danger pull-top", :method => :get %>
          </div>
        <% end %>
        <address>
          Goal: <%= goal.weekly_goal %> times/week<br>
          Logged: <%= goal.count_activity_log %> times<br>
          Latest Points: 
          <% if ActivityLog.where(goal_id: goal.id).length > 0 %>
            <%= ActivityLog.where(goal_id: goal.id).last.points %>
          <% end %> <br>
          Last Logged: <%= goal.updated_at.to_s(:just_date) %>
        </address>
      </div>
    </div>
  </section>
  <% else %>
  <% end %>
<% end %>