<section class="widget">
  <h3><%= link_to user.name, dashboard_user_path(user) %></h3>
  <h4>Activities:</h4>
  <address>
    <% user.goals.each do |goal| %>
      <% if goal.status == "active" %>
    	 <%= goal.name_of_activity_through_goal %><br>
      <% end %>
    <% end %>
  </address>
  <% if current_user.friendships.empty? %>
    <%= button_to 'Follow ' + user.name, friendships_path(friend_id: user.id), :class => "btn btn-success span6 offset3" %>
  <% else %>
    <% if current_user.friendships.find_by(friend_id: user.id) %>
      <%= button_to 'You are following ' + user.name, '#', :class => "btn btn-transparent span12", :disabled => "disabled" %>
    <% else %>
      <%= button_to 'Follow ' + user.name, friendships_path(friend_id: user.id), :class => "btn btn-success span6 offset3" %>
    <% end %>
  <% end %>
</section>