<%= form_for @user, :html => {:multipart => true} do |user| %>
	<div class="content">
		<% if @user.errors.any? %>
			<div class = "widget error_messages span3">
				<legend>
					<header><h3>Form is invalid</h3></header>
				</legend>
				<ul class="span12">
					<% for message in @user.errors.full_messages %>
						<li>
							<%= message %>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>

	<div class="single-widget-container" id="sign-up-widget">  
  	<section class="widget login-widget">
	  	<legend>
		    <header class="text-align-center">
		    	<h1>Sign Up</h1>
		    </header>
		  </legend>

		<div class="body">
	    <fieldset>

			<div class="user-info-form">
				<div class="control-group no-margin">
					<div class="control">
		        <div class="input-prepend input-padding-increased span12">
		          <span class="add-on">
		            <i class="eicon-user icon-large"></i>
		          </span>
							<%= user.text_field :name, {placeholder: "Name", :class=>"span10"} %>
						</div>
					</div>
				</div>

				<div class="control-group no-margin">
					<div class="control">
		        <div class="input-prepend input-padding-increased span12">
		          <span class="add-on">
		            <i class="eicon-user icon-large"></i>
		          </span>
							<%= user.text_field :email, {placeholder: "Email", :class=>"span10"} %>
						</div>
					</div>
				</div>
					
				<div class="control-group no-margin">  	
					<div class="control">
		        <div class="input-prepend input-padding-increased">
		          <span class="add-on">
		            <i class="icon-lock icon-large"></i>
		          </span>
							<%= user.password_field :password, placeholder: "Password" %>
						</div>
					</div>
				</div>

				<div class="control-group no-margin">
					<div class="control">
						<div class="input-prepend input-padding-increased">
		          <span class="add-on">
		            <i class="icon-lock icon-large"></i>
		          </span>
							<%= user.number_field :height, placeholder: "Height (inches)" %>
						</div>
					</div>
				</div>

				<div class="control-group no-margin">
					<div class="control">
						<div class="input-prepend input-padding-increased">
		          <span class="add-on">
		            <i class="icon-lock icon-large"></i>
		          </span>
						<%= user.number_field :weight, placeholder: "Weight (kg)" %>
						</div>
					</div>
				</div>

				<label class="control">
					<div class="row-fluid">
						<div class="btn-large btn-transparent span6">
							<%= user.label(:gender,"Male") %>
							<%= user.radio_button(:gender, "male") %>
						</div>

						<div class="btn-large btn-transparent span6">
							<%= user.label(:gender, "Female") %>
							<%= user.radio_button(:gender, "female") %>
						</div>
					</div>
				</label>

				<div class="control-group no-margin">
					<div class="control">
						<div class="widget">
							<%= user.label :avatar, "Upload your Profile Picture", { style: "text-align:center"} %>
							<br>
							<%= user.file_field :avatar, {:class=>"btn btn-transparent span12"} %>
						</div>
						<div class="widget">
							<%= user.text_field :remote_avatar_url, {placeholder: "Or Insert a Picture Link", :class => "span12"} %>
						</div>
					</div>
				</div>
				<br>

			  <div class="control-group no-margin">
					<div class="form-actions" style="padding-top:1rem; padding-bottom: 1rem">
						<%= user.submit 'Submit!', :class => "btn btn-block btn-success btn-large" %>
					</div>
				</div>

			</fieldset>
		</div>
	</div>
	</section>
</div>

<% end %>