<section class="widget chat companywall">
  <header>
  <legend><h4>
      Activity Stats 
  </h4></legend>
  </header>
  <div class="body">
    <div id="chat" class="chat">
      <div id="stat-message" class="stats">
        HI! More information to come.
        <br/>
        <br>
        <% current_user.goals.each do |goal| %>
          <%= goal.name_of_activity_through_goal %>
          <br/> 
          <li> Since: </li>
          <li> Logged:  </li>
          <li> Total Duration: </li>
          <li> Total Distance: </li>
          <br/>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="widget chat companywall">
  <header>
    <legend><h4>
      Activity Log History
    </h4></legend>
    <div class="body">
      <div id="chat" class="chat">
        <div id="stat-message" class="stats">
        <ul>
          <% current_user.goals.each do |goal| %>
          <li><%= goal.name_of_activity_through_goal %></li><br>
            <% goal.activity_logs.each do |log| %>
              <li> Points: <%= log.points %></li>
              <li> Logged: <%= log.created_at.to_s(:just_date) %></li>
                <% if log == goal.activity_logs.last %>
                <%= button_to "Remove Log", user_goal_activity_log_path(current_user, goal, log.id), :class => 'btn btn-danger', method: :delete %><br>
                <% end %>
              <% end %>
          <% end %>
        </ul>
        </div>
      </div>
    </div>
  </header>
</section>