<%= link_to "Back to Homepage", users_path %>
<h2>Dashboard</h2>

<div class = "add_new_goal">
  <%= link_to "Add new Goal", new_user_goal_path(current_user) %>
  <% current_user.goals.each do |goal| %>
    <h3><%= goal.name_of_activity_through_goal %></h3>
    <p>Goal: <%= goal.weekly_goal %> times/week</p>
    <p>Logged: <%= goal.count_activity_log %> times</p>
    <p>Last Logged: <%= goal.updated_at %></p>
    <p><%= link_to 'Log My Activity', new_user_goal_activity_log_path(current_user, goal) %></p>
    <p>______________________</p>
  <% end %>
</div>

<div id="comment_wall">
    <h2>Wall:</h2>
	<%= render "/comments/new" %>
	<%= render "/comments/each" %>
</div>
  <%= paginate @comments %>
<p>______________________</p>

<div class="teams">
  <h2>Teams:</h2>
  <p>
  <%= link_to "Create a Team",  new_team_path %>
  </p>
  <ul>
    <% current_user.teams.each do |team| %>
      <li> <%= link_to team.name, team_path(team.id) %></li>
    <% end %>
  </ul>
</div>
