<%= link_to "Back to Homepage", users_path %>
<h2>Dashboard</h2>

<%= link_to "Add new Goal", new_user_goal_path(current_user) %>
<% current_user.goals.each do |goal| %>
  <h3><%= goal.name_of_activity_through_goal %></h3>
  <p>Goal: <%= goal.weekly_goal %> times/week</p>
  <p>Logged: <%= goal.count_activity_log %> times</p>
  <p>Last Logged: <%= goal.updated_at %></p>
  <p><%= link_to 'Log My Activity', new_user_goal_activity_log_path(current_user, goal) %></p>
  <p>______________________</p>
<% end %>

<div id="comment_wall">
  <h2>Wall:</h2>
  <%= render "/comments/new" %>
  <%= render "/comments/each" %>
</div>
<%= paginate @comments %>
<p>______________________</p>

<div class="teams">
  <h2>Teams:</h2>
  <p>
  I own teams:
    <ul>
      <% Team.where(owner_id: @commentable.id).each do |team| %>
        <li> <%= link_to team.name, team_path(team.id) %></li>
      <% end %>
    </ul>

  <%= link_to "Create a Team",  new_team_path(@commentable.id) %>
  </p>
  <div class="my_teams"> I'm a member of teams: 
    <ul>
      <% @commentable.teams.each do |team| %>
        <li> <%= link_to team.name, team_path(team.id) %></li>
      <% end %>
    </ul>
  </div>
</div>
