<!-- Facebook's Javascript SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=566319116815288&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<% if @user.height.nil? or @user.weight.nil? %>
  <%= render 'facebooklog' %>
<% else %>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <div class="content">
    <div class="span4">
      <section class="widget">
        <header>
        <legend><h4>
            Track your Activities
        </h4></legend>
        </header>

        <div class = "body">
          <% @user.goals.each do |goal| %>
            <section class="widget">
              <div class="row-fluid">
                <div class="span4">
                  <img src="" alt="64x64" style="height: 100px; width:100px;" data-placement="top" id="tooltip-enabled" data-original-title="" class="img-circle">
                </div>
                <div class="span8">
                  <div class="span10">
                    <h4 class="no-margin"><%= goal.name_of_activity_through_goal %> (<%= goal.total_points_per_goal %>)</h4>
                  </div>
                  <div class="span2">
                    <%= button_to "+", new_user_goal_activity_log_path(@user, goal), :class => "btn btn-success pull-top", :method => :get %>
                    <br>
                  </div>
                  <address>
                    <br>
                    Goal: <%= goal.weekly_goal %> times/week<br>
                    Logged: <%= goal.count_activity_log %> times<br>
                    Latest Points: 
                    <% if ActivityLog.where(goal_id: goal.id).length > 0 %>
                      <%= ActivityLog.where(goal_id: goal.id).last.points %>
                    <% end %> <br>
                    Last Logged: <%= goal.updated_at.to_s(:just_date) %>
                  </address>
                </div>
              </div>
            </section>
          <% end %>
        </div>
        <%= button_to "Add new Goal", new_user_goal_path(current_user), :class => "btn btn-success span6 offset3", :method => :get %>
        <br>
        <!-- Facebook Share plugin -->
        <div class="fb-share-button" data-href="http://localhost:3000" data-width="50" data-type="button"></div>

        <!-- Twitter Tweet plugin -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="IanCantor2">Tweet</a>
      </section>
    </div> 

    <div class="span4">
      <section class="widget chat companywall">
        <header>
        <legend><h4>
            Wall
        </h4></legend>
        </header>
        <div class="body">
          <div id="chat" class="chat">
            <div class="row-fluid non-responsive">
              <%= render "/comments/new" %>
            </div>
            <br>
            <div id="chat-messages" class="chat-messages">
              <%= render "/comments/each" %>
              <%= paginate @comments %>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="span4">
      <section class="widget widget-tabs">
        <header>
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#user" data-toggle="tab">Search for User</a>
            </li>
            <li>
              <a href="#team" data-toggle="tab">Search for Team</a>
            </li>
          </ul>
        </header>
        <div class="body tab-content">
          <div id="user" class="tab-pane active clearfix">
            <%= form_tag users_path, method: :get, authentication: false, id: 'search-user' do%>
              <%= text_field_tag :search_user, params[:search], placeholder: 'Search for User' %>
              <%= submit_tag "Search" %>
            <% end %>
            <div id="search-answer-user"></div>
          </div>
          <div id="team" class="tab-pane active clearfix">
            <%= form_tag teams_path, method: :get, authentication: false, id: 'search-team' do%>
              <%= text_field_tag :search_team, params[:search], placeholder: 'Search for Team' %>
              <%= submit_tag "Search" %>
            <% end %>
            <div id="search-answer-team"></div>
          </div>
        </div>
      </section>

      <section class="widget">
        <header>
        <legend><h4>
            Teams
        </h4></legend>
        </header>

        <div class="body">
          <section class="widget">
            I created teams:
            <ul>
              <% Team.where(owner_id: @commentable.id).each do |team| %>
                <li> <%= link_to team.name, team_path(team.id) %></li>
              <% end %>
            </ul>
          </section>
          <section class="widget">
            I'm a member of teams: 
            <ul>
              <% @commentable.teams.each do |team| %>
                <li> <%= link_to team.name, team_path(team.id) %></li>
              <% end %>
            </ul>
          </section>
        </div>
        <%= button_to "Create a Team",  new_team_path(@commentable.id), :class => "btn btn-success span6 offset3", :method => :get  %>
      </section>

      <section class="widget">
        <header>
        <legend>
          <h4>People I follow</h4>
        </legend>
        </header>
        <div class="body">
          <div id="friends" class="friends">
            <%= render partial: "friendships/friends", locals: { person_type: 'friend' } %>
          </div>
        </div>
      </section>

      <section class="widget">
        <header>
        <legend>
          <h4>People following me</h4>
        </legend>
        </header>
        <div class="body">
          <div id="followers" class="followers">
            <%= render partial: "friendships/friends", locals: { person_type: 'follower' } %>
          </div>
        </div>
      </section>

      <section class="widget">
        <legend><h4>
            Challenges
          </h4>
          <% if (@user != current_user) %>
            <!-- If you aren't already in a challenge you --> 
            <% if (@user.challenges.where(id: current_user.id) == []) %>
              <%= button_to "Take On #{@user.name}",  user_challenges_path(@user.id), :class => "btn btn-success span6 offset3" %>
            <% end %>
          <% end%>
        </legend>
        <div class="body">
          <%= render "challenges/each_challenge" %>
        </div>
      </section>
    </div>
  </div>
<% end %>

