<!-- Facebook's Javascript SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=566319116815288&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<% if @user.height.nil? or @user.weight.nil? %>
  <%= render 'facebooklog' %>
<% else %>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <div class="content">

    <% if current_user.id != @user.id %>
      <%= render 'dashhead' %>
    <% end %>

    <% if current_user.inverse_friendships.find_by(user_id: @user.id) or current_user.id == @user.id %>
    <div content>
      <div class="span4">
        <section class="widget widget-tabs">
          <header>
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#activity-tracking" data-toggle="tab">Track your Activities</a>
              </li>
              <li>
                <a href="#leaderboard" data-toggle="tab">Leaderboard</a>
              </li>
            </ul>
          </header>
          <div class = "body tab-content pre-scrollable">
            <div id="activity-tracking" class="tab-pane active clearfix">
              <%= render 'trackboard' %>
              <% if @user.id == current_user.id %>
                <%= button_to "Add new Goal", new_user_goal_path(current_user), :class => "btn btn-success span6 offset3", :method => :get %>
              <% end %>
            </div>
            <div id="leaderboard" class="tab-pane clearfix">
              <%= render 'leaderboard' %>
            </div>
          </div>
    
          <br>
          <!-- Facebook Share plugin -->
          <div class="span6 offset3">
            <div class="fb-share-button" data-href="http://localhost:3000" data-width="50" data-type="button"></div>

            <!-- Twitter Tweet plugin -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="IanCantor2">Tweet</a>
          </div>
        </section>
      </div>

      <div class="span4">
        <section class="widget chat companywall">
          <header>
            <legend><h4>
                Wall
            </h4></legend>
          </header>
          <div class="body">
            <div id="chat" class="chat">
                <div class="row-fluid non-responsive">
                  <%= render "/comments/new" %>
                </div>
              <br>
              <div id="chat-messages" class="chat-messages pre-scrollable"`>
                <%= render "/comments/each" %>
                <%= paginate @comments %>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="span4">
        <section class="widget widget-tabs">
          <header>
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#user" data-toggle="tab">Search for User</a>
              </li>
              <li>
                <a href="#team" data-toggle="tab">Search for Team</a>
              </li>
              <% if current_user.id == @user.id %>
                <li>
                  <a href="#request" data-toggle="tab">
                    Pending Requests
                    <% if current_user.count_pending_requests == 0 %>
                    <% else %>
                      <span class="count">
                        <%= current_user.count_pending_requests %>
                      </span>
                    <% end %>
                  </a>
                </li>
              <% end %>
            </ul>
          </header>
          <div class="body tab-content">
            <div id="user" class="tab-pane active clearfix">
              <%= form_tag users_path, method: :get, authentication: false, id: 'search-user' do%>
                <%= text_field_tag :search_user, params[:search], placeholder: 'Search for User', :class => "span12" %>
                <%= submit_tag "Search", :class => "btn btn-success offset4" %>
              <% end %>
              <br>
              <div id="search-answer-user" class="pre-scrollable"></div>
            </div>
            <div id="team" class="tab-pane clearfix">
              <%= form_tag teams_path, method: :get, authentication: false, id: 'search-team' do%>
                <%= text_field_tag :search_team, params[:search], placeholder: 'Search for Team', :class => "span12" %>
                <%= submit_tag "Search", :class => "btn btn-success offset4" %>
              <% end %>
              <br>
              <div id="search-answer-team"></div>
            </div>
            <div id="request" class="tab-pane clearfix">
              <%= render "pending_requests" %>
              <br>
            </div>
          </div>
        </section>
      </div>
    </div>

    <% end %>
  </div> 
<% end %>

