  <% current_user.challenges %>
  <% current_user.inverse_challenges %>
<ul>
  <% current_user.challenges.each do |opponent| %>
    <div id="challenge-time">
    <li> <%= link_to opponent.defendable.name,  polymorphic_path(opponent.challengeable) %> 
          <% link_to opponent.challengeable.name,  polymorphic_path(opponent.challengeable) %> 
      | Points: <%= @points %> | 
       Ends: <%= opponent.end_date %></li>
       <%= button_to 'Edit' , edit_user_challenge_path(opponent.challengeable.id, opponent.id) %> 
       <%= button_to 'Delete' , user_challenge_path(opponent.challengeable.id, opponent.id), action: 'DELETE' %> 
    </div>
  <% end %>
</ul>

