<!-- People you challenged or did they challenge you? -->
<% if challenge_type == 'challenged' %>
  <% user_challenges = current_user.challenges %>
<% else %>
  <% user_challenges = current_user.inverse_challenges %>
<% end %>


<ul>
  <% user_challenges.each do |challenge| %>
    <% @opponent =  challenge_type == 'friend' ? challenge.challengeable : challenge.defendable  %>
      <li> 
      <div id="challenge-time">
        <%= link_to @opponent.name,  polymorphic_path(@opponent) %> 
        <% link_to @opponent.name,  polymorphic_path(@opponent) %> 
        | Points: <%= @points %>
        | Ends: <%= challenge.end_date.to_s(:just_date) %> 
        | <%= link_to 'Edit' , edit_user_challenge_path(@opponent.id, challenge.id) %> 
        | <%= link_to 'Delete' , user_challenge_path(@opponent.id, challenge.id), action: 'DELETE' %> 
      </div>
      </li>

    <% end %>
  </ul>

