<%= form_for ([current_user, @challenge ]) do |f| %>

  <% if @challenge.errors.any? %>
    <div class = "error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @challenge.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 
  <div class = "field">
    <h4> <%= @challenge.defendable.name %> vs. <%= @challenge.challengeable.name %> </h4>
  </div>


  <div class = "field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>

  <div class = "action">
    <br>
    <%= f.submit 'Done!'%> 
  </div>
<% end %>
