<%= form_for ([current_user, @challenge ]) do |f| %>

  <% if @challenge.errors.any? %>
    <div class = "error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @challenge.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<section class="widget">
  <div class="row-fluid">
    <div class = "field">
     <legend>
        <header><h4>
          <%= @challenge.challengeable.name %> vs. <%= @challenge.defendable.name %>
        </h4></header>
      </legend>
    </div>


    <div class="body">
      <%= f.label :end_date %> 
      <%= f.date_select :end_date %>
    </div>

    <div class = "action">
      <%= f.submit 'Done!', :class => "btn btn-success span2" %> 
    </div>
  </div>
</section>

<% end %>
