<%= form_for ([current_user, @goal]) do |f| %>

  <div class = "field">
    <%= f.label :activity_name %><br>
    <%= f.select :activity_id, options_from_collection_for_select(Activity.order(:name), :id, :name), include_blank: true %>
  </div>

  <div class = "field">
    <%= f.label :weekly_goal %><br>
    <%= f.number_field :weekly_goal %>
  </div>

  <div class = "links">
    <p style = "text-decoration: underline; cursor: pointer">Add Another Activity</p>
  </div>

  <div class = "action">
    <br>
    <%= f.submit 'Done!'%> 
  </div>

<% end %>


