<%= form_for ([current_user, @goal]) do |f| %>

  <%#= f.fields_for :goals do |goal| %>
    <%#= render 'goals_fields', f: goal %>
    <!-- <div class = "links"> -->
      <%#= link_to_add_association 'Add Another Activity', f, :goals %>
    <!-- </div> -->
  <%# end %>

  <% if @goal.errors.any? %>
    <div class = "error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @goal.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field">
    <%= f.label :activity_name %><br>
    <%= f.select :activity_id, options_from_collection_for_select(Activity.order(:name), :id, :name), include_blank: true %>
  </div>

  <div class = "field">
    <%= f.label :weekly_goal %><br>
    <%= f.number_field :weekly_goal %>
  </div>

  <div class = "action">
    <br>
    <%= f.submit 'Done!'%> 
  </div>
<% end %>

  <div class = "back">
    <br>
    <%= link_to 'Nevermind - Go Back',  dashboard_user_path(current_user.id),{ action: 'GET'}  %> 
  </div>

<div id="tutorialbox">
  <h1 id="instructions"></h1>
</div>
