<%= form_for ([current_user, @goal]) do |f| %>
	<div class="content">
		<section class="widget span6">
			<legend>
				<h3>
					Activity: <%= @goal.name_of_activity_through_goal %><br>
					Weekly Goal: <%= @goal.weekly_goal %>
				</h3>
			</legend>

			<div class="widget">
				<h4>This removes the current activity and it's goal from your dashboard. History of this goal is preserved.</h4>
				<h3>
					<p>Are you sure you want switch this goal to inactive?</p>
				</h3>
				<label class="control">
					<%= f.label(:status, "Active", :class => "radio inline offset3") %> 
					<%= f.radio_button(:status, "active") %>

					<%= f.label(:status, "Inactive", :class => "radio inline") %>
					<%= f.radio_button(:status, "inactive") %>
					<br>
				</label>
				<div class="form-actions">
					<div class="span4 offset2">
						<%= f.submit "Yes", :class => "btn btn-success span12" %>
					</div>
					<div class="span4">
						<%= button_to "No", dashboard_user_path(current_user), :class => "btn btn-danger span12", :method => :get %>
					</div>
				</div>
			</div>
		</section>
	</div>
<% end %>