<div class="single-widget-container">  
  <section class="widget login-widget">
    <legend>
      <header class="text-align-center">
        <h1>Log In</h1>
      </header>
    </legend>

    <%= form_tag user_sessions_path do %>
      
      <div class="body">
        <fieldset>
          <div class="control-group no-margin">
            <div class = "field">
              <%= label_tag :email %>
            </div>
            <div class="control">
              <div class="input-prepend input-padding-increased span12">
                  <span class="add-on">
                      <i class="eicon-user icon-large"></i>
                  </span>
                  <%= text_field_tag :email %>
                </div>
              </div>
            </div>

          <div class="control-group">  
            <div class = "field">
              <%= label_tag :password %>
            </div>
            <div class="control">
              <div class="input-prepend input-padding-increased">
                <span class="add-on">
                    <i class="icon-lock icon-large"></i>
                </span>  
                <%= password_field_tag :password %>
              </div>
            </div>
          </div>
        </fieldset>

          <div class="form-actions" style="padding-top:1rem; padding-bottom: 1rem">
              <%= submit_tag "Log In", :class => "btn btn-block btn-success btn-large" %>
          </div>

          <footer>
            <div class="facebook-login">
              <span><i class="icon-facebook-sign icon-large"></i>
              <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
            </div>
          </footer>

    <% end %>
  </section>
</div>