<header class="page-header">
  <div class="navbar">
    <div class="container-fluid">
      <% if current_user %>
        <ul class="pull-left logo" style = "margin-top: -1rem">
          <li>
            <h1> <%= link_to "THINKFIT.ME", users_path %></h1>
          </li>
        </ul>
        <ul class="nav pull-right" style="margin-top: -0.25rem">
          <li style="margin-top: -0.50rem">
            <%= image_tag current_user.avatar_url(:thumb), :class => "img-circle" %>
            <br>
          </li>
          <li>
            <%= link_to current_user.name, dashboard_user_path(current_user) %>
          </li>
          <li class="divider"><li> <%= ActivityLog.where(goal_id: current_user.goals).sum(:points) %>  Points </li>
          <li class="divider"></li>

          <li>
            <%= link_to "Logout", user_session_path("current"), method: :delete %> 
          </li>
        </ul>
        <% else %>
      <% end %>
    </div>
  </div>
  
</header>
