<header class="page-header">
  <div class="navbar">
    <div class="container-fluid">
      <% if current_user %>
        <ul class="pull-left logo" style = "margin-top: -1rem">
          <li>
            <h1> <%= link_to "THINKFIT.ME", dashboard_user_path(current_user) %></h1>
          </li>
        </ul>
        <ul class="nav pull-right" style="margin-top: -0.25rem">
          <li style="margin-top: -0.50rem">
            <%= image_tag current_user.avatar_url(:thumb), :class => "img-circle" %>
            <br>
          </li>
          <li>
            <%= link_to current_user.name, dashboard_user_path(current_user) %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Logout", user_session_path("current"), method: :delete %> 
          </li>
        </ul>
        <% else %>
        <ul class="nav pull-right" style="margin-top: -0.25rem">
          <li>
            <%= link_to "Log In", new_user_session_path %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Sign Up", new_user_path %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  
</header>