<div class="container-fluid">
  <% if current_user %>
    <nav id="sidebar" class="sidebar nav-collapse collapse">
      <ul id="side-nav" class="side-nav">
        <li class="sidenav-dashboard">
          <%= link_to "Dashboard", dashboard_user_path(current_user) %>
        </li>
        <li class="sidenav-teams">
          <%= link_to "Teams", teams_path %>
        </li>
        <li class="sidenav-friends">
          <%= link_to "Friends", friendships_path %>
        </li>
        <li class="sidenav-challenges">
          <%= link_to "Challenges", user_challenges_path(current_user) %>
        </li>
        <li class="sidenav-activity-stats">
          <%= link_to "Activity Stats", activity_stats_user_path(current_user) %>
        </li>
      </ul>
    </nav>
  <% end %>
</div>