<!DOCTYPE html>
<html>
  <head>
    <title>ThinkFit.Me</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class = "background-dark">

    <%= render 'layouts/sidenav' %>

    <div class = "wrap">
      <%= render 'layouts/headnav' %>
      <div class="content container-fluid">

        <div class="row-fluid">

          <div class = "flash">
            <% if flash[:notice] %>
              <p id = "notice", style="color:green"><%= flash[:notice] %></p>
            <% end %>
            <% if flash[:alert] %>
              <p id = "alert", style="color:red"><%= flash[:alert] %></p>
            <% end %>
          </div>

          <%= yield %>

        </div>
      </div>      
    </div>

  </body>
</html>
