<!DOCTYPE html>
<html>
  <head>
    <title>ThinkFit.Me</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body class = "background-dark">

    <%= render 'layouts/sidenav' %>
    <%= render 'layouts/headnav' %>

    <div class = "wrap">
      <div class = "container-fluid">
        <div class="row-fluid">

          <center><div class = "flash">
            <% if flash[:notice] %>
              <div class="alert alert-success" id = "notice"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:alert] %>
              <div class="alert alert-danger" id = "alert"><%= flash[:alert] %></div>
            <% end %>
          </div></center>

          <%= yield %>

        </div>    
      </div>
    </div>

  </body>
</html>
